.container{
  
    width: 1366px;
    height: 849px;
    background: linear-gradient(
        #3d087b,
        #3D087BDE
    );
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}
.g1{
    margin-right: 10px;
}
.clock{
    width: 50px;
    height: 40px;
}
.set-time{
    top: 149px;  
    left: 124px;
    width: 500px;
    height: 310px;
    background-color: white;
    color: #3D087B;
    font-size: 18px;
    border-radius: 10px;

}
.l1{
    
    padding-top: 15px;
}

select{
    top: 163px;
    left: 385px;
    width: 250px;
    height: 45px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
    font-size: x-small;
}
select:hover{
    cursor: pointer;
}
.m{
    left: 149px;
    width: 30px;
    height: 30px;
}
li{
    margin-top: 30px;
    margin-right: 10px;
}
#wake1{
    margin-left: 20px;
}
#lunch1{
    margin-left: 39px;
}
#nap1{
    margin-left: 49px;
}
#nap2{
    margin-left: 35px;
}
#good{
   
    left: 124px;
    width: 500px;
    height: 77px;
    border-radius: 10px;
    font-size:large;
    font-weight:bolder;
    background-color: #9140B5;
    justify-items: center;
    text-align: center;
    color: white;
    font-family: cursive;
    line-height: 70px;
    margin-top: 15px;
}

#two{
    display: flex;
    flex-direction: row;
}
#btnid
{
    
    left: 124px;
    width: 250px;
    height: 50px;
    border-radius: 4px;
    background:  linear-gradient(
        113deg, #6E54EC 0%,
        #CB52F8 40%,
        #FC5EFF 81%, 
        #F1A7C5 100%);
        font-weight: 600;
        font-size: larger;
        color: white;
        border: none;
}
#btnid:hover{
    cursor: pointer;
}
.btn{
    margin-top: 20px;
   
}
.alltime{
   
    left: 437px;
    width: 218px;
    height: 80px;
    background-color:#9140B5 ;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: x-small;
    text-align: left;
    padding: 10px;
    line-height: 20px;
    color: #F25CFE;
}
.timeline{
    display: flex;
    margin-top: 20px;
    left: 706px;
    width: 436px;
    height: 85px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}.box{
    top: 62px;
    left: 823px;
    width: 50px;
    height: 55px;
    background-color: #F6E2FF;
    text-align: center;
    color: #5F0089;
    padding: 5px;
    margin: 5px;
    line-height: 27px;
    font-size: medium;
    font-weight: 500;
    border-radius: 2px;
    font-family: "Gill Sans", sans-serif;
}
.time{
    padding-right: 30px;
    color: #3D087B;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
}
.box1{
    top: 62px;
    left: 823px;
    width: 53px;
    height: 65px;
    font-family: "Gill Sans", sans-serif;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    background: linear-gradient(
        #CB52F8,
        #F25CFE
    );   
    margin-left: 15px;
    color: white;
    border-radius: 2px;
}
.grab{
    left: 706px;
    width: 436px;
    height: 80px;
    background-color: white;
    color: #8E53F0;
    font-size:medium;
    font-weight:bolder;
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
    line-height: 70px;
    margin-top: 20px;
}
.image{
    width: 436px;
    height: 270px;
    margin-top: 10px;
    background-image: url(./window.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;

}
